gurobi-sphinxtheme @ git+https://github.com/Gurobi/gurobi-sphinxtheme.git@main

# Pinned packages for documentation builds
# Note: upgrading nbconvert leads to formatting issues
ipykernel==6.29.3
jinja2==3.1.4
jupytext==1.14.1
matplotlib==3.8.3
myst-parser==0.19.2
nbconvert==7.2.5
nbsphinx==0.8.9
numpydoc==1.6.0
scikit-learn==1.5.0
sphinx-copybutton==0.5.2
sphinx-tabs==3.4.5
sphinx-toolbox==3.5.0
sphinx==6.2.1
