# Run the unit tests against python3.8 on ubuntu, from
# a direct install. Execute the example notebooks.

name: Notebook examples

on:
  workflow_call:

permissions:
  contents: read

jobs:
  notebook-examples:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.8"]
        gurobipy: ["9.5.2", "10.0.3"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tooling
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          python -m pip install gurobipy==${{ matrix.gurobipy }}
          python -m pip install .
          python -m pip install -r docs/requirements-examples.txt
      - name: Execute example notebooks
        run: |
          python -m jupytext --set-kernel python3 --execute --to ipynb docs/source/examples/*.md
