# Run the unit tests against python3.8 on ubuntu, from
# a direct install. Execute the example notebooks.

name: Unit tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  unit-tests:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.8"]
        gurobipy: ["9.5.2", "10.0.3"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install tooling
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          python -m pip install gurobipy==${{ matrix.gurobipy }}
          python -m pip install .
      - name: Run unittest
        run: python -m unittest discover -v
